body {
    background-image: url("wz2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

.forms {
    max-width: 150px;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.results {
    max-width: 150px;
    margin: 0 auto;
    background: rgba(10,5,56,0.5);
    padding: 10px;
    border-radius: 10px;
    margin-top: 260px;
    display: block;
    width: 100%;
}